<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Classify 商品分類</title>
		<th:block th:include="./include/header :: header"></th:block> <!-- :: header 名稱是 header.html 的 th:fragment="header" -->
		<script>
			/*
				This code ensures that the enclosed JavaScript is executed only when the HTML document has finished loading.
				$(document).ready(function(){ … }); 			
			*/			
			$(document).ready(function(){
				// 新增
				$("#add").on("click", function(){
					var jsonObj = $('#myform').serializeObject(); // 將 myform 的物件序列化		
					var jsonStr = JSON.stringify(jsonObj); //  將 jsonObj 轉 string，以 JSON 格式傳送到後端
					console.log(jsonStr);
					// Ajax 程式
					$.ajax({
						url: "/portfolio/classify/",
						type: "POST",
				  		contentType: "application/json;charset=utf-8",
						data: jsonStr,
						cache: false,
						processData: false, // 不要將資料放在網址上
						success: function(resp){  // 執行程式成功，取得一個 response 的 object，並放入 function method 的 resp argument
							console.log(JSON.stringify(resp)); // 回應物件的內容
							initPageSetup(); // intiPageSetup() function is called inside the success callback function  
						}
					});					
				});
				
				// 修改
				$("#upt").on("click", function(){
					var jsonObj = $('#myform').serializeObject(); // 將 myform 的物件序列化		
					var jsonStr = JSON.stringify(jsonObj); //  將 jsonObj 轉 string，以 JSON 格式傳送到後端
					console.log(jsonStr);
					// Ajax 程式
					$.ajax({
						url: "/portfolio/classify/" + jsonObj.id ,
						type: "PUT",
				  		contentType: "application/json;charset=utf-8",
						data: jsonStr,
						cache: false,
						processData: false,
						success: function(resp){  
							console.log(JSON.stringify(resp)); 
							initPageSetup();  
						}
					});					
				});
				
				
				// 刪除
				$("#del").on("click", function(){
					var id = $('#myform').find("#id").val();
					// Ajax 程式
					$.ajax({
						url: "/portfolio/classify/" + id ,
						type: "DELETE",				  		
						success: function(resp){  
							console.log(JSON.stringify(resp)); 
							initPageSetup();  
						}
					});					
				});
			
				
				$("#myTable").on("click", "tr", function() {
					var id = $(this).find('td').eq(0).text().trim();
					console.log(id);
					var url = "/portfolio/classify/" + id;
					$.get(url, function(data, status){
						console.log(JSON.stringify(data));
						$("#add").attr('disabled', true);  // 點選 tr elements 新增按鈕失效
						$("#upt").attr('disabled', false);
						$("#del").attr('disabled', false); 
						$('#myform').trigger('reset'); // 表單內容清空 (reset)
						$("#myform").find("#id").val(data.id);
						$("#myform").find("#name").val(data.name);
						$("#myform").find("#tx").val(data.tx).prop('checked', data.tx);
					});
					
					
				});
				
				$("#rst").on("click", function() {
					initPageSetup();		
				});
				
				initPageSetup();  // 查詢資料庫資料，並顯示於 tr elements 底下; This code executed firstly while HTML document has been finished loading
				
			
			});
			
			
			function initPageSetup(){
				$("#add").attr('disabled', false); 
				$("#upt").attr('disabled', true);
				$("#del").attr('disabled', true); 
				$('#myform').trigger('reset'); // 表單內容清空 (reset)
				table_list();
			}
			
			function table_list(){
				$.get("/portfolio/classify/", function(datas, status){
					console.log(datas);
					console.log(status);
					// clean content from tbody
					$("#myTable tbody > tr").remove();
					$.each(datas, function(i, item){
						// DOM tree 結構
						var html = "<tr><td>{0}</td><td>{1}</td><td>{2}</td></tr>";
						$("#myTable").append(String.format(html, item.id, item.name, item.tx));
					});						
				});
			}
			
		</script>
	</head>
	
	<body>
		<!-- Header -->
		<th:block th:include="./include/navbar :: navbar"></th:block>
		
		<!-- Content -->
		<div class="container">
			<h1>Classify 商品分類</h1>
			<form id="myform" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">ID</label>
					<div class="col-sm-5">
						<input id="id" name="id" type="number" value="0" readonly class="form-control"/>
					</div>			
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">分類名稱</label>
					<div class="col-sm-10">
						<!-- type 不寫，預設 type="text"  -->
						<input id="name" name="name" type="text" value="" placeholder="請輸入產品名稱" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<label> 
							<input id="tx" name="tx" type="checkbox" /> 支援交易					
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="add" type="button" class="btn btn-success">新增</button>
						<button id="upt" type="button" class="btn btn-info">修改</button>
						<button id="del" type="button" class="btn btn-danger">刪除</button>
						<button id="rst" type="button" class="btn btn-warning">重置</button>
					</div>
				</div>
			</form>
			<p />
			<h1>Classify 商品分類列表</h1>
			<table id="myTable" border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>tx</th>					
					</tr>	
					<tbody>
					
					</tbody>			
				</thead>
			</table>
		
		</div>
		
		
		<!-- Footer -->
		<th:block th:include="./include/footer :: footer"><th:block>
		
		
		
		
	</body>
</html>